<!DOCTYPE html>
<html>
   
    <head>
        <link rel ="stylesheet" href="/displayAttendance.css">
        <script src="https://kit.fontawesome.com/57a72e588d.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id = "horizontalMenu">
            <div id = "menuIcons">
                <p></p>
                <a class = "links" href = "attendance.ejs"><i class = "fas fa-arrow-left"></i>Back</a>
                <a class = "links" href = "index.ejs">Home<i class="fas fa-home"></i></a>
                <a class = "links" href = "classes.ejs">Classes<i class="fas fa-book"></i></a>
                <a class = "links" href = "createClass.ejs">Create Class<i class="fas fa-plus"></i></a>
                <a class = "links" href = "students.ejs">Students<i class="fas fa-users"></i></a>
                <a class = "links" href = "addStudents.ejs">Add Students<i class="fas fa-users"></i></a>
                <a class = "links"href = "exam.ejs">Exam qualification<i class="fas fa-file"></i></a>
                <a class = "links" href = "teachers.ejs">Teachers<i class="fas fa-address-book"></i></a>
                <p></p>
            </div>
        </div><br><br>
       
        <h2><%=units[0].ClassID%> Class List</h2>
        <div id = "table"> 
            <form method="post" action="/takeAttendance">
                <table class = "records">
                    <thead>
                        <tr>
                            <th width = "100px">StudentID</th>
                            <th width = "100px">FirstName</th>
                            <th width = "100px">Surname</th>
                            <th width = "100px">In Class?</th>
                        </tr>
                    </thead>
                    <% for (let i = 0; i < units.length; i++) { %>
                        <tr>
                            <td width = "100px"><%=units[i].StudentID%></td>
                            <td width = "100px"><%=units[i].FirstName%></td>
                            <td width = "100px"><%=units[i].Surname%></td>
                            <td width = "100px"><input type = "checkbox"  name = "attended[]" value = "<%=units[i].StudentID%>"></td>
            
                        </tr>
                    <% } %>
                </table>
                <p>Are you sure you want to take <%= units[0].ClassID %> 's attendance? <input type = "checkbox" name = "classID" value = "<%=units[0].ClassID%>" required></p>
                <input class = "button" type ="submit" value = "Take Attendance">
            </form>
        </div>
    </body>
    <script src = "/displayAttendance.js">

    </script>
